@import "styleguide";

html,
body {
  font-size: $font-size-base;
}

h2 {
  color: var(--slate-dark);
  font-size: $font-size-xlarge;
  font-weight: $font-weight-normal;
  margin: 0 0 $gutter-xsmall;
}

h3 {
  color: $slate-medium;
  margin: 0;
  padding: 0;
  font-size: $font-size-normal;
}

h4 {
  margin: 0 0 $gutter-xsmall;
}

p {
  font-size: $font-size-normal;
  margin: 0;

  @include breakpoint($medium) {
    font-size: 1.125rem;
    line-height: 1.4rem;
  }
}

.fine-print {
  font-size: $font-size-small;
}

h1 {
  font-size: $font-size-large;

  @include breakpoint($medium) {
    font-size: $font-size-xlarge
  }
}

h2 {
  font-size: $font-size-large;
}

h3 {
  font-size: $font-size-medium;
}

h4 {
  font-size: $font-size-normal;
}
