// :root {
//   --slate-dark: #202020;
//   --slate: #545555;
// }

// White
$white: white;

// Grays
$slate-dark: #202020;
$slate: #545555;
$slate-medium: #7E7E7E;
$slate-light: #DAE1E3;
$slate-xlight: #ECF0F1;

// Blue
$aqua: #18B8FF;
$aqua-dark: #019ce0;
$aqua-light: #42c5ff;

// Green
$grass: #6DC958;
$grass-rgba-light: rgba(110, 201, 89, 0.3);

// Red
$rouge: #ED7878;

// Brand colors
$primary-color: #0E2243;
$secondary-color: #F07607;
$tertiary-color: #73C4D6;
