@mixin animation($animate...) {
  $max: length($animate);
  $animations: '';

  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};

    @if $i < $max {
      $animations: #{$animations + ", "};
    }
  }
  -webkit-animation: $animations;
  -moz-animation:    $animations;
  -o-animation:      $animations;
  animation:         $animations;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }

  @-moz-keyframes #{$name} {
    @content;
  }

  @-ms-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}

@mixin pointer($direction: "top", $background: white, $size: 10px, $border-color: #CCC, $border-size: 1px, $simple: false) {
  &:before, &:after {
    @if $direction == "top" {
      bottom: 100%;
      left: 50%;
    }
    @else if $direction == "right" {
      top: 50%;
      left: 100%;
    }
    @else if $direction == "bottom" {
      top: 100%;
      left: 50%;
    }
    @else if $direction == "left" {
      right: 100%;
      top: 50%;
    }

    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;

    @content;
  }

  &:after {
    border-color: rgba(0, 0, 0, 0);
    border-width: $size;

    @if $direction == "top" {
      border-bottom-color: $background;
      margin-left: -$size;
    }
    @else if $direction == "right" {
      border-left-color: $background;
      margin-top: -$size;
    }
    @else if $direction == "bottom" {
      border-top-color: $background;
      margin-left: -$size;
    }
    @else if $direction == "left" {
      border-right-color: $background;
      margin-top: -$size;
    }
  }

  @if $simple != true {
    &:before {
      border-color: rgba(0, 0, 0, 0);
      border-width: $size + $border-size;

      @if $direction == "top" {
        border-bottom-color: $border-color;
        margin-left: ($size + $border-size) * -1;
      }
      @else if $direction == "right" {
        border-left-color: $border-color;
        margin-top: ($size + $border-size) * -1;
      }
      @else if $direction == "bottom" {
        border-top-color: $border-color;
        margin-left: ($size + $border-size) * -1;
      }
      @else if $direction == "left" {
        border-right-color: $border-color;
        margin-top: ($size + $border-size) * -1;
      }
    }
  }
}
