// Font size
$font-size-base: 16px;

$font-size-xsmall: 0.75rem;  // 12px
$font-size-small: 0.8125rem;  // 13px
$font-size-normal: 1rem;     // 16px
$font-size-medium: 1.25rem;  // 20px
$font-size-large: 1.75rem;   // 28px
$font-size-xlarge: 2.5rem;   // 40px
$font-size-xxlarge: 3rem;     // 48px

// Font weight
$font-weight-xlight: 300;
$font-weight-light: 400;
$font-weight-normal: 600;
$font-weight-bold: 700;
