.form-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Quicksand', sans-serif;
}

.form__inner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  h3,
  h4 {
    @include breakpoint($medium) {
      div {
        display: inline;
      }
    }
  }
}

.form {
  padding: 0 $gutter;
  max-width: 420px;
}

.form__inputs {
  margin-top:  $gutter-large;
}

.form-control {
  border: 1px solid #9A9A9A;
  border-radius: 6px;
  padding: 14px;
  width: 100%;
  margin-bottom: $gutter-medium;
  font-size: $font-size-normal;
  transition: all 0.3s ease;

  &:focus {
    box-shadow: 0 0 20px #3497D9;
    border: 1px solid #3497D9;
  }
}

textarea {
  min-height: 150px;
  resize: vertical;
}

fieldset {
  border: 0;
}
